body {
    background-image: url(/images/web\ 2.png);
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 70px;
    box-shadow: 0 30px 9px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

img {
    width: 80px;
    height: 70px;
    
    margin-left: 100px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}



button {
    background-color: rgb(49, 133, 198);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 30px;
    margin-left: 60px;
}

button:hover {
    background-color: orange;
    transform: translateY(-5px);
}




