body {
    background-image: url(/images/web\ 2.png);
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 70px;
    box-shadow: 0 30px 9px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

img {
    width: 80px;
    height: 70px;
    
    margin-left: 100px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}



/*login button*/

.btn-login {
    margin-right: 30px;
    margin-left: 60px;

    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, orange 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: 
  rgba(45, 35, 66, .4) 0 2px 4px,
  rgba(45, 35, 66, .3) 0 7px 13px -3px,
  rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    
  }
  
  .btn-login:focus {
    box-shadow: 
  #3c4fe0 0 0 0 1.5px inset, 
  rgba(45, 35, 66, .4) 0 2px 4px, 
  rgba(45, 35, 66, .3) 0 7px 13px -3px, 
  #3c4fe0 0 -3px 0 inset;
  
  }
  
  .btn-login:hover {
    box-shadow: 
  rgba(45, 35, 66, .4) 0 4px 8px, 
  rgba(45, 35, 66, .3) 0 7px 13px -3px, 
  #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    
  }
  
  .btn-login:active {
    box-shadow: 
  #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }






