body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-container {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: max-content;
    position: sticky;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
}

header h1 {
    font-family: 'Wedges', sans-serif;
    color: #2a9d8f;
    margin-bottom: -10px;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card {
    flex: 1;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
    font-size: 18px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background-color: #2a9d8f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.tab-button.active,
.tab-button:hover {
    background-color: #21867a;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    background-color: #fff;
}

.selection-panel {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    background-color: #fff;
}

.dropdown-container {
    width: 20%;
}

.dropdown, .input-field, .button {
    display: block;
    width: 100%;
    margin-bottom: 2px;
}

.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-load-report {
    background-color: #762004;
    padding: 5px 5px;
    margin: 0 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    height: max-content;
    margin-top: 3%;
}

.button {
    padding: 10px 15px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2a9d8f;
    color: #fff;
}

.action-button {
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.delete-button {
    background-color: #e74c3c;
}

.download-button {
    background-color: #3498db;
}

.whatsapp-button {
    background-color: #25d366;
    align-items: center;
    justify-content: center;
}

.delete-button:hover {
    background-color: #c0392b;
}

.download-button:hover {
    background-color: #2980b9;
}

.whatsapp-button:hover {
    background-color: #20b559;
}

.view-button {
    background-color: #8e44ad;
}

.view-button:hover {
    background-color: #732d91;
}

.whatsapp-icon {
    margin-right: 5px;
}

/* Additional CSS for report view */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
}

.modal .report-container {
    margin-top: 170%;
    max-width: 900px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(43, 41, 41, 0.1);
    position: relative;
}

.modal .close-btn {
    position: absolute;
    top: 10px;
    left: 20px;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #f70303;
}

.modal .faded-text {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    transform: rotate(0deg);
}

h1 {
    text-align: center;
    margin-top: 60px;
}

h2, h3 {
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-side {
    flex: 1;
    margin: 20px;
}

.right-side {
    flex: 1;
    margin: 20px;
    margin-top: 9%;
}

.left-side p, .right-side p {
    margin: 10px 0;
}

canvas {
    max-height: 35%;
    display: block;
    margin: 10 auto 20px;
    max-width: 100%;
    background-color: rgb(45, 44, 44);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 5px;
    text-align: center;
}

footer {
    background-color: #fff;
    color: #040404;
    padding: 10px;
}

footer p {
    margin: 0;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.link {
    text-decoration: underline;
    color: #add8e6; /* light blue */
    cursor: pointer;
}

.link:hover {
    color: #87ceeb; /* darker blue */
}

.ki_number {
    margin: 0 auto;
}

.ki_link {
    text-decoration: underline;
    color: #add8e6; /* light blue */
    cursor: pointer;
}

.ki_link:hover {
    color: #87ceeb; /* darker blue */
}

.fade-out {
    opacity: 0.5;
    pointer-events: none;
}

/* Toast CSS */
.toast {
    visibility: hidden;
    max-width: 50%;
    height: 50px;
    margin: auto;
    background-color: rgb(1, 36, 52);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 50%;
    font-size: 17px;
    white-space: nowrap;
    line-height: 50px;
}

.toast.show {
    visibility: visible;
    animation: fadeInOut 3s;
}

.toast.success {
    background-color: green;
}

.toast.error {
    background-color: red;
}

.toast.info {
    background-color: blue;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.invalid {
    border: 2px solid red;
}