
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: max-content;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Wedges', sans-serif;
    color: #2a9d8f;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card {
    flex: 1;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
    font-size: 18px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background-color: #2a9d8f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.tab-button.active,
.tab-button:hover {
    background-color: #21867a;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.selection-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dropdown-container {
    width: 24%;
}

.dropdown, .input-field, .button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-load-report{
    color: white;
    border: none;
    background-color: #2980b9;
    padding: 10px 10px;
    border-radius: 23px;
    height: fit-content;
    width: fit-content;
}

.button {
    padding: 10px 15px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2a9d8f;
    color: #fff;
}

.action-button {
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.delete-button {
    background-color: #e74c3c;
}

.download-button {
    background-color: #3498db;
}

.whatsapp-button {
    background-color: #25d366;

    align-items: center;
    justify-content: center;
}

.delete-button:hover {
    background-color: #c0392b;
}

.download-button:hover {
    background-color: #2980b9;
}

.whatsapp-button:hover {
    background-color: #20b559;
}

.view-button {
    background-color: #8e44ad;
}

.view-button:hover {
    background-color: #732d91;
}

.whatsapp-icon {
    margin-right: 5px;
}
