@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    
    display: flex;
}

.sidebar {
background-color: #34495e;
    color: white;
    height: 100vh;
    width: 117px;
    position: sticky;
    top: 0;   
    left: 0; 
    bottom: 0;
    overflow: hidden;
    padding: 0 1.7rem;
    transition: all 0.3s linear;
    background: 113, 99, 186. 255;
    z-index: 2;
   
}
.sidebar:hover{
    width: 310px;
    transition: 0.5s;
}


.logo {
    position: sticky;
    height: 80px;
    padding: 12px;
    
}


.menu-item {
    border-radius: 20px;
    padding: 15px 12px;
    border-bottom: 1px solid #2c3e50;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    list-style: none;
}
.menu-item li{
    padding: 0;
    margin: 1px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}

.menu-item :hover, 
.active {
    background-color: #2980b9;
    border-radius: 10px;
}

.menu-item a {
    font-size: 17px;
    align-items: center;
    text-decoration: none;
    color: white;
    display: flex;
    gap: 1.5rem;
    
  }
  .menu-item a span{
    overflow: hidden;
  }


  .menu-item a i {
    font-size: 1.2rem;
  }


/*style for main content*/

.main-content {
  width: calc(100% - 117px);
  
    padding: 1rem;
    background: #ecf0f1;
   
    position: relative;
    
}


.main-content .header {
    position: fixed;
    top: 0;
    right: 5;
    width: 76vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: normal;
    justify-content: normal;
    box-shadow: 0 30px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.main-content .header .nav {
    width: 100%;
    display: flex;
    align-items: center;
}
.main-content .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
    
  
    
}
.main-content .header .nav .search i{
   
    padding: 15px;
    margin-right: 2px;
}
.main-content .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 12px;
    width: 400px;
    border-radius: 12px;
    position: sticky; 
    
}

.main-content .header .nav img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;

}


/*cards style */
.main-content .stats-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 10vh;
    
}

/*add new school button*/
.add-school a {
  font-size: 15px;
    border-radius: 8px;
    padding: 5px 22px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    background-color: #082e4e;
    display: block;
  
}

/* disable button*/
.add-school a.disabled {
  background-color: #cccccc; /* Change to a disabled color */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}



/* data collection style */
.container {
  display: none; /* Ensure form is hidden initially */
  background-color: #41889a;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 18px;

    position: absolute; /* Position form container relative to main-content */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    z-index: 1; 
  }


  
  h1 {
    text-align: center;
    color: #f6f5f5;
  }
  
  form {
    
    display: flex;
    flex-wrap: wrap;
    
   
  }
  
  .form-row {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  label {
    font-weight: bold;
  }
  
  select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  

  .button-container {
    
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}
.add-button {
  background-color: #045116; /* Green color for add button */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  

}

.cancel-button {
    background-color: #dc3545; /* Red color for cancel button */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}


  
  table {
   
    width: 100%;
    margin-top: 25px;
    border-collapse: separate;
    position: relative;
    z-index: 0;
  }
  
  th, td {
    padding: 2px;
    border-bottom: 2px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
  }









